.js-button{
    border-radius: 50px;
    background-color: black;
    
    color: white;
    width: 100px;
    height: 30px;
    border:none;
    padding: 5px;
    font-weight: bold; 
}
.is-subscribed{
     color: black;
    background-color:whitesmoke;
}